@page
@using TrainWebApp.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <img src="~/img/train.jpg" alt="train Img"  width=190px />
    <h2>ABOUT TRAIN SYSTEM</h2>
    <p>In this train system, you can add new Trains and attach or detach railcars according to their serial numbers.</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>
